<h1>Hello</h1>

<form class="js-create-post-form">
  <input type="text" class="js-create-post-form-title">
  <input type="text" class="js-create-post-form-body">
  <input type="submit" class="js-create-post-form-submit">
</form>
